h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
ul {
    color: white;
    text-align: left;
}
ol {
    color: white;
    text-align: left;
}
body{
    color: white;
}
aside {
    text-align: center;
}